*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    gap: 232.5px;
    padding: 21.84px 0;
    margin: 0 auto;
}
.container{
    width:calc( 100% - 20%);
    margin: 0 auto;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  align-items: center;
  flex-wrap: wrap;
}


.lists ul{
    display: flex;
    gap: 60px;
    list-style-type:none;
}

.icons ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.hero{
   background-color: aquamarine;
   height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center ;
}
.menu{
    display: none;
    width: 26px;
    height: 26px;
}
@media screen and (min-width:0) and (max-width:320px){
    .lists{
       display: none;
    }
    .icons{
        display: none;
    }
    .menu{
        display: block;
    }
}

.collections{
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.collection{
    width:calc( (100% - 90px) / 4 );
    text-align: center;
}

@media screen and (min-width:0) and (max-width:320px){
   .collections .row{
     flex-direction: column;
    }
    .collection{
        width: 100%;
    }
}
@media screen and (min-width:321) and (max-width:600px){
  
    .collection{
         width:calc( (100% - 30px) /2 );
    }
}
@media screen and (min-width:601) and (max-width:955px){
  
    .collection{
         width:calc( (100% - 60px) /3 );
    }
}

 .collections img{
    width: 100%;  
}

h2{
    text-transform: uppercase;
    background-color: rgb(135, 146, 143);
    margin-top: 23px;
}